venv
__pycache__
.ipynb_checkpoints
mask_rcnn_coco.h5
DataPreparation
evaluation/example
evaluation/misc
evaluation/summary_results*
evaluation/test.py
evaluation/tiled.py
evaluation/MaskReconstruction (copy).py
output/*
datasets/fruits2/sets
datasets/fruits2/sets/train.csv
datasets/fruits2/sets/val.csv
datasets/fruits2/sets/test.csv
summary.py
evaluation/results/*
