venv
via_project*
test_masks
test_mask2
train_masks
train_mask2
mask_rcnn_coco.h5
mask_rcnn_fruit_0477.h5
mask.npy
train_examples.csv
val_examples.csv
.ipynb_checkpoints
generate
example
Plot_PR_and_test_masks.py
test.py
__pycache__
Annotation projects
junk
assets/logs/*
evaluation/training_history/event_files/*

20130320T004849.903118.Cam6_43_mask2.npy
20151124T044642.641468_i2238j1002_mask2.npy
_MG_8993_24_mask2.npy
20130320T004547.804094.Cam6_12_mask2.npy
20130320T004620.376266.Cam6_41_mask2.npy
20151124T024524.796253_i1870j760_mask2.npy
_MG_8080_08_mask2.npy
evaluation/truth_masks/train_masks_truth/*
evaluation/truth_masks/test_masks_truth/*
evaluation/results/*
evaluation/misc/*
evaluation/summary.py
evaluation/summary_results_fruits2400.csv
evaluation/summary_results_fruits2400.json
evaluation/tiled.py
evaluation/truth_masks/
output/*
data_augmentation/*
assets/datasets/fruits2/*
assets/datasets/ACFR-Apples/*
assets/datasets/ACFR-Mangoes/*
assets/datasets/FUJI-Apples/*
assets/datasets/Merged-Dataset/*
data_expansion/all_full_images/*
data_expansion/Fuji-SfM_dataset/*
data_expansion/expansion_1/all_full_images/*
data_expansion/expansion_1/cropped_test/*
data_expansion/expansion_1/cropped_train/*
data_expansion/expansion_1/cropped_val/*
data_expansion/expansion_1/test_full_fuji_images/*
data_expansion/expansion_1/train_full_fuji_images/*
data_expansion/expansion_1/val_full_fuji_images/*
data_expansion/expansion_2/all_full_images/*
data_expansion/expansion_2/cropped_test/*
data_expansion/expansion_2/cropped_train/*
data_expansion/expansion_2/cropped_val/*
data_expansion/expansion_2/test_full_fuji_images/*
data_expansion/expansion_2/train_full_fuji_images/*
data_expansion/expansion_2/val_full_fuji_images/*
data_expansion/expansion_3/all_full_images/*
data_expansion/expansion_3/cropped_test/*
data_expansion/expansion_3/cropped_train/*
data_expansion/expansion_3/cropped_val/*
data_expansion/expansion_3/test_full_fuji_images/*
data_expansion/expansion_3/train_full_fuji_images/*
data_expansion/expansion_3/val_full_fuji_images/*
data_expansion/expansion_4/all_full_images/*
data_expansion/expansion_4/cropped_test/*
data_expansion/expansion_4/cropped_train/*
data_expansion/expansion_4/cropped_val/*
data_expansion/expansion_4/test_full_fuji_images/*
data_expansion/expansion_4/train_full_fuji_images/*
data_expansion/expansion_4/val_full_fuji_images/*
data_expansion/expansion_5/all_full_images/*
data_expansion/expansion_5/cropped_test/*
data_expansion/expansion_5/cropped_train/*
data_expansion/expansion_5/cropped_val/*
data_expansion/expansion_5/test_full_fuji_images/*
data_expansion/expansion_5/train_full_fuji_images/*
data_expansion/expansion_5/val_full_fuji_images/*
data_expansion/expansion_6/all_full_images/*
data_expansion/expansion_6/cropped_test/*
data_expansion/expansion_6/cropped_train/*
data_expansion/expansion_6/cropped_val/*
data_expansion/expansion_6/test_full_fuji_images/*
data_expansion/expansion_6/train_full_fuji_images/*
data_expansion/expansion_6/val_full_fuji_images/*
data_expansion/expansion_7/all_full_images/*
data_expansion/expansion_7/cropped_test/*
data_expansion/expansion_7/cropped_train/*
data_expansion/expansion_7/cropped_val/*
data_expansion/expansion_7/test_full_fuji_images/*
data_expansion/expansion_7/train_full_fuji_images/*
data_expansion/expansion_7/val_full_fuji_images/*
data_expansion/expansion_8/all_full_images/*
data_expansion/expansion_8/cropped_test/*
data_expansion/expansion_8/cropped_train/*
data_expansion/expansion_8/cropped_val/*
data_expansion/expansion_8/test_full_fuji_images/*
data_expansion/expansion_8/train_full_fuji_images/*
data_expansion/expansion_8/val_full_fuji_images/*
data_expansion/expansion_9/all_full_images/*
data_expansion/expansion_9/cropped_test/*
data_expansion/expansion_9/cropped_train/*
data_expansion/expansion_9/cropped_val/*
data_expansion/expansion_9/test_full_fuji_images/*
data_expansion/expansion_9/train_full_fuji_images/*
data_expansion/expansion_9/val_full_fuji_images/*
data_expansion/expansion_10/all_full_images/*
data_expansion/expansion_10/cropped_test/*
data_expansion/expansion_10/cropped_train/*
data_expansion/expansion_10/cropped_val/*
data_expansion/expansion_10/test_full_fuji_images/*
data_expansion/expansion_10/train_full_fuji_images/*
data_expansion/expansion_10/val_full_fuji_images/*
data_expansion/expansion_11/all_full_images/*
data_expansion/expansion_11/cropped_test/*
data_expansion/expansion_11/cropped_train/*
data_expansion/expansion_11/cropped_val/*
data_expansion/expansion_11/test_full_fuji_images/*
data_expansion/expansion_11/train_full_fuji_images/*
data_expansion/expansion_11/val_full_fuji_images/*
data_expansion/expansion_12/all_full_images/*
data_expansion/expansion_12/cropped_test/*
data_expansion/expansion_12/cropped_train/*
data_expansion/expansion_12/cropped_val/*
data_expansion/expansion_12/test_full_fuji_images/*
data_expansion/expansion_12/train_full_fuji_images/*
data_expansion/expansion_12/val_full_fuji_images/*
data_expansion/expansion_13/all_full_images/*
data_expansion/expansion_13/cropped_test/*
data_expansion/expansion_13/cropped_train/*
data_expansion/expansion_13/cropped_val/*
data_expansion/expansion_13/test_full_fuji_images/*
data_expansion/expansion_13/train_full_fuji_images/*
data_expansion/expansion_13/val_full_fuji_images/*
data_expansion/expansion_14/all_full_images/*
data_expansion/expansion_14/cropped_test/*
data_expansion/expansion_14/cropped_train/*
data_expansion/expansion_14/cropped_val/*
data_expansion/expansion_14/test_full_fuji_images/*
data_expansion/expansion_14/train_full_fuji_images/*
data_expansion/expansion_14/val_full_fuji_images/*
data_expansion/expansion_15/all_full_images/*
data_expansion/expansion_15/cropped_test/*
data_expansion/expansion_15/cropped_train/*
data_expansion/expansion_15/cropped_val/*
data_expansion/expansion_15/test_full_fuji_images/*
data_expansion/expansion_15/train_full_fuji_images/*
data_expansion/expansion_15/val_full_fuji_images/*
data_expansion/expansion_16/all_full_images/*
data_expansion/expansion_16/cropped_test/*
data_expansion/expansion_16/cropped_train/*
data_expansion/expansion_16/cropped_val/*
data_expansion/expansion_16/test_full_fuji_images/*
data_expansion/expansion_16/train_full_fuji_images/*
data_expansion/expansion_16/val_full_fuji_images/*
data_expansion/expansion_17/all_full_images/*
data_expansion/expansion_17/cropped_test/*
data_expansion/expansion_17/cropped_train/*
data_expansion/expansion_17/cropped_val/*
data_expansion/expansion_17/test_full_fuji_images/*
data_expansion/expansion_17/train_full_fuji_images/*
data_expansion/expansion_17/val_full_fuji_images/*
data_expansion/expansion_18/all_full_images/*
data_expansion/expansion_18/cropped_test/*
data_expansion/expansion_18/cropped_train/*
data_expansion/expansion_18/cropped_val/*
data_expansion/expansion_18/test_full_fuji_images/*
data_expansion/expansion_18/train_full_fuji_images/*
data_expansion/expansion_18/val_full_fuji_images/*
data_expansion/expansion_19/all_full_images/*
data_expansion/expansion_19/cropped_test/*
data_expansion/expansion_19/cropped_train/*
data_expansion/expansion_19/cropped_val/*
data_expansion/expansion_19/test_full_fuji_images/*
data_expansion/expansion_19/train_full_fuji_images/*
data_expansion/expansion_19/val_full_fuji_images/*
data_expansion/expansion_20/all_full_images/*
data_expansion/expansion_20/cropped_test/*
data_expansion/expansion_20/cropped_train/*
data_expansion/expansion_20/cropped_val/*
data_expansion/expansion_20/test_full_fuji_images/*
data_expansion/expansion_20/train_full_fuji_images/*
data_expansion/expansion_20/val_full_fuji_images/*
data_expansion/expansion_21/all_full_images/*
data_expansion/expansion_21/cropped_test/*
data_expansion/expansion_21/cropped_train/*
data_expansion/expansion_21/cropped_val/*
data_expansion/expansion_21/test_full_fuji_images/*
data_expansion/expansion_21/train_full_fuji_images/*
data_expansion/expansion_21/val_full_fuji_images/*
data_expansion/expansion_22/all_full_images/*
data_expansion/expansion_22/cropped_test/*
data_expansion/expansion_22/cropped_train/*
data_expansion/expansion_22/cropped_val/*
data_expansion/expansion_22/test_full_fuji_images/*
data_expansion/expansion_22/train_full_fuji_images/*
data_expansion/expansion_22/val_full_fuji_images/*
data_expansion/expansion_23/all_full_images/*
data_expansion/expansion_23/cropped_test/*
data_expansion/expansion_23/cropped_train/*
data_expansion/expansion_23/cropped_val/*
data_expansion/expansion_23/test_full_fuji_images/*
data_expansion/expansion_23/train_full_fuji_images/*
data_expansion/expansion_23/val_full_fuji_images/*
data_expansion/expansion_24/all_full_images/*
data_expansion/expansion_24/cropped_test/*
data_expansion/expansion_24/cropped_train/*
data_expansion/expansion_24/cropped_val/*
data_expansion/expansion_24/test_full_fuji_images/*
data_expansion/expansion_24/train_full_fuji_images/*
data_expansion/expansion_24/val_full_fuji_images/*
data_expansion/expansion_25/all_full_images/*
data_expansion/expansion_25/cropped_test/*
data_expansion/expansion_25/cropped_train/*
data_expansion/expansion_25/cropped_val/*
data_expansion/expansion_25/test_full_fuji_images/*
data_expansion/expansion_25/train_full_fuji_images/*
data_expansion/expansion_25/val_full_fuji_images/*
data_expansion/expansion_26/all_full_images/*
data_expansion/expansion_26/cropped_test/*
data_expansion/expansion_26/cropped_train/*
data_expansion/expansion_26/cropped_val/*
data_expansion/expansion_26/test_full_fuji_images/*
data_expansion/expansion_26/train_full_fuji_images/*
data_expansion/expansion_26/val_full_fuji_images/*
data_expansion/expansion_27/all_full_images/*
data_expansion/expansion_27/cropped_test/*
data_expansion/expansion_27/cropped_train/*
data_expansion/expansion_27/cropped_val/*
data_expansion/expansion_27/test_full_fuji_images/*
data_expansion/expansion_27/train_full_fuji_images/*
data_expansion/expansion_27/val_full_fuji_images/*
data_expansion/expansion_28/all_full_images/*
data_expansion/expansion_28/cropped_test/*
data_expansion/expansion_28/cropped_train/*
data_expansion/expansion_28/cropped_val/*
data_expansion/expansion_28/test_full_fuji_images/*
data_expansion/expansion_28/train_full_fuji_images/*
data_expansion/expansion_28/val_full_fuji_images/*
data_expansion/expansion_29/all_full_images/*
data_expansion/expansion_29/cropped_test/*
data_expansion/expansion_29/cropped_train/*
data_expansion/expansion_29/cropped_val/*
data_expansion/expansion_29/test_full_fuji_images/*
data_expansion/expansion_29/train_full_fuji_images/*
data_expansion/expansion_29/val_full_fuji_images/*
